<div class="row">
  <div class="col-md-12">
    <form class="form" id="login-nav" name="loginForm">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" ng-model="email" placeholder="Email address" required>
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" ng-model="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <button type="submit" ng-click="login(email, password, loginForm.$valid)" class="btn btn-primary btn-block">Sign in</button>
      </div>
    </form>
  </div>
</div>
