<div class="MainContent MainContent--home" ng-controller="homeCtrl">
  <div class="Hero">
    <div class="Hero-bg">
      <div class="Hero-bg Hero-bg-shape" id="Hero-animation-shape" style="background-image: url(./assets/images/man.jpg); opacity: 1; transform: translateY(0px);"></div>
    </div>
    <div class="small-12 large-5 large-offset-1 Hero-content"></div>
  </div>
  <div class="Home-section Home-section--alt">
    <h2 class="Home-sectionTitle">Nos marques</h2>
    <div class="small-12 large-10 large-offset-1">
      <div class="Carousel Carousel--categories">
        <div class="small-6 large-3 columns">
          <div class="Card Card--category u-shadow u-shadow-hover">
            <div class="Card-imageContainer">
              <img alt="Réparations &amp; Bricolage" class="Card-image lazyloaded" src="./assets/images/studio.jpg">
            </div>
            <div class="Card-title">
              <span class="Card-title-c"> Providence Com </span>
            </div>
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="Card Card--category u-shadow u-shadow-hover">
            <div class="Card-imageContainer">
              <img alt="Réparations &amp; Bricolage" class="Card-image lazyloaded" src="./assets/images/home.jpg">
            </div>
            <div class="Card-title">
              <span class="Card-title-c">Providence Home </span>
            </div>
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="Card Card--category u-shadow u-shadow-hover">
            <div class="Card-imageContainer">
              <img alt="Réparations &amp; Bricolage" class="Card-image lazyloaded" src="./assets/images/dress.jpg">
            </div>
            <div class="Card-title">
              <span class="Card-title-c">Provi DressCode </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
