<footer class="Footer">
  <div class="row">
    <div class="small-12 large-3 columns">
      <div class="Footer-columnContainer">
        <div class="Footer-title">
          Providence entreprises
        </div>
        <ul class="Footer-list">
          <li class="Footer-list-item">
            <a href="https://stootie.com/a-propos" class="Footer-list-item-link">À propos</a>
          </li>
          <li class="Footer-list-item">
            <a href="https://stootie.com/pressroom" class="Footer-list-item-link">Espace presse</a>
          </li>
          <li class="Footer-list-item">
            <a href="https://stootie.com/recrutement" class="Footer-list-item-link">Recrutement</a>
          </li>
          <li class="Footer-list-item">
            <a href="mailto://contact@stootie.com" class="Footer-list-item-link">Nous contacter</a>
          </li>
          <li class="Footer-list-item">
            <a href="https://stootie.com/guides" class="Footer-list-item-link">Guides pratiques</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="small-12 large-3 columns">
      <div class="Footer-columnContainer">
        <div class="Footer-title">
          Demander un service
        </div>
        <ul class="Footer-list">
          <li class="Footer-list-item">
            <a href="https://stootie.com/assurance" class="Footer-list-item-link">Confiance &amp; Sécurité</a>
          </li>
          <li class="Footer-list-item">
            <a href="http://faq.stootie.com/article/36-qu-est-ce-que-la-reservation-en-ligne-est-elle-obligatoire" class="Footer-list-item-link">Réservation en ligne</a>
          </li>
          <li class="Footer-list-item">
            <a href="http://faq.stootie.com/" class="Footer-list-item-link">Aide</a>
          </li>
          <li class="Footer-list-item">
            <a href="https://stootie.com/stoot/services" class="Footer-list-item-link">Services disponibles</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="small-12 large-3 columns">
      <div class="Footer-columnContainer">
        <div class="Footer-title">
          Postuler à des demandes
        </div>
        <ul class="Footer-list">
          <li class="Footer-list-item">
            <a href="http://stooters.stootie.com/fonctionnement_de_stootie" class="Footer-list-item-link">Comment ça marche ?</a>
          </li>
          <li class="Footer-list-item">
            <a href="http://stooters.stootie.com/construire_son_profil" class="Footer-list-item-link">Compléter mon profil</a>
          </li>
          <li class="Footer-list-item">
            <a href="http://stooters.stootie.com/proposition_de_prix" class="Footer-list-item-link">Rémunération en ligne</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="Footer-bottom">
      <div class="small-12 large-6 columns">
        © Providece entreprises 2017
      </div>
      <div class="small-12 large-6 columns Footer-bottom-linkContainer">
        <a href="/conditions-generales-d-utilisation" class="Footer-bottom-link">C.G.U</a>
        <a href="/charte-de-moderation" class="Footer-bottom-link">Charte de modération</a>
        <a href="/mentions-legales" class="Footer-bottom-link">Mention légale</a>
        <span class="Footer-bottom-link Footer-bottom-link--socialMedia">
          <a href="https://www.facebook.com/ProvidenceEntreprises" class="Footer-bottom-link--socialMedia-link" target="_blank">
            <img class=" lazyloaded" src="" alt="Facebook">
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
